Repository ournexus/wenexus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, mvn spotless:apply, black, isort

feat: 实现 roundtable 消息发送功能（混合模式）
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/repository/roundtable.py
  backend/python/src/wenexus/service/roundtable.py
  backend/python/src/wenexus/util/llm.py
  backend/python/tests/integration/service/test_roundtable_messaging.py
  docs/technical/develop/202603/260313-roundtable-messaging.md
Due: prettier --write

feat: 实现 roundtable 前端消息和 WebSocket 实时更新
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/util/websocket.py
  frontend/apps/web/src/app/[locale]/(roundtable)/roundtable/[topicId]/message-input.tsx
  frontend/apps/web/src/app/[locale]/(roundtable)/roundtable/[topicId]/roundtable-client.tsx
  frontend/apps/web/src/app/api/domains/roundtable/messages/send/route.ts
  frontend/apps/web/src/domains/roundtable/services/chat-service.ts
  frontend/apps/web/src/shared/hooks/use-websocket.ts
  progress.md
Due: eslint --fix, prettier --write

fix: 修复 PR #27 代码审查问题
  backend/python/src/wenexus/facade/deps.py
  backend/python/src/wenexus/facade/discovery.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/repository/roundtable.py
  backend/python/src/wenexus/service/discovery.py
  backend/python/src/wenexus/service/roundtable.py
  docs/technical/develop/202603/260313-frontend-websocket-integration.md
  frontend/apps/web/src/shared/hooks/use-websocket.ts
  reports/daily_20260313.md
Due: eslint --fix, prettier --write

fix: address PR #28 code review feedback
  backend/python/src/wenexus/facade/discovery.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/service/discovery.py
  backend/python/src/wenexus/service/roundtable.py
  frontend/apps/web/.env.example
  frontend/apps/web/src/shared/hooks/use-websocket.ts
  reports/daily_20260313.md
Due: eslint --fix, prettier --write

docs: add local dev quickstart and Cloudflare Workers deployment guide
  README.md
  docs/technical/deployment/cloudflare-workers.md
Due: prettier --write

feat(scripts): add dev.sh one-click local dev startup script
  README.md
  scripts/dev.sh
Due: prettier --write

fix(scripts): support both docker compose plugin and docker-compose standalone
  scripts/dev.sh
Due: none

fix(scripts): auto-detect Homebrew pg/redis vs Docker, remove hard docker-compose dep
  scripts/dev.sh
Due: none

chore: reorganize docs structure and simplify claude commands
  .claude/commands/handle-issue.md
  .claude/commands/handle-pr-comment.md
  .claude/commands/pr-pipeline.md
  .claude/commands/pr-pipeline.sh
  docs/bmad/project-context.md
  docs/technical/260310-e2e-timeout-fix.md
  docs/technical/deployment/cloudflare-pages-deployment-guide.md
  docs/technical/deployment/external-dependencies.md
  docs/technical/develop/202603/260312-roundtable-session-creation.md
  docs/technical/fix/250310-e2e-logout-auth-state-fix.md
  docs/technical/fix/260311-database-initialization-fix.md
  docs/technical/testing/CODE-INSPECTOR.md
  reports/daily_20260311.md
  reports/daily_20260313.md
Due: prettier --write

feat(scripts): add Cloudflare Tunnel support for public access
  scripts/dev.sh
Due: none

fix(scripts): clean conflicting cloudflared config before starting quick tunnel
  scripts/dev.sh
Due: none

feat(workflows): add e2e-test workflow for AI-driven test-fix-restart loop
  .windsurf/workflows/e2e-test.md
Due: prettier --write

docs: reorganize docs structure and fix markdown formatting
  .gitignore
  docs/design/agent-personas/ 看边缘人的眼.md
  docs/design/personas/user-personas.md
  docs/prd/user-story.md
  docs/prd/一堆问题.md
  docs/theory/investor-qa.md
  docs/theory/【散文】手腕上的橡皮筋.md
  docs/theory/【观察】中国基层工作者画像.md
  docs/theory/哲学入门.md
Due: prettier --write

docs(bmad): add WeNexus product brief via BMAD planning workflow
  docs/bmad/planning-artifacts/product-brief-wenexus-2026-03-14.md
Due: prettier --write

chore: migrate e2e-test workflow from Windsurf to Claude Code command
  .claude/commands/e2e-test.md
Due: prettier --write

docs(bmad): complete product brief MVP scope and create PRD
  docs/bmad/planning-artifacts/prd.md
  docs/bmad/planning-artifacts/product-brief-wenexus-2026-03-14.md
Due: prettier --write

fix: address PR #29 code review feedback
  .claude/commands/e2e-test.md
  _bmad/_config/agent-manifest.csv
  _bmad/_config/task-manifest.csv
  _bmad/_config/workflow-manifest.csv
  _bmad/_memory/config.yaml
  _bmad/bmm/config.yaml
Due: prettier --write

chore: untrack .claude/skills/ from gitignore
  .gitignore
Due: none

chore: fix trailing whitespace in cover.sh
  .claude/skills/xhs/scripts/cover.sh
Due: none

Refactor/monorepo restructure (#30)
  .claude/skills/.skills_store_lock.json
  .claude/skills/xhs/SKILL.md
  .claude/skills/xhs/_meta.json
  .claude/skills/xhs/check_env.sh
  .claude/skills/xhs/references/content-guide.md
  .claude/skills/xhs/references/cover-guide.md
  .claude/skills/xhs/references/title-guide.md
  .claude/skills/xhs/references/web-structure.md
  .claude/skills/xhs/references/workflow.md
  .claude/skills/xhs/scripts/cover.sh
  .claude/skills/xhs/scripts/ensure-chrome-debug.sh
  .claude/skills/xhs/scripts/generate.sh
Due: prettier --write

chore: add .wrangler and .dev.vars to gitignore, fix CLAUDE.md typo
  .gitignore
Due: none

fix(web): resolve Cloudflare Workers runtime issues
  frontend/apps/web/src/app/layout.tsx
  frontend/apps/web/src/config/index.ts
  frontend/patches/@opennextjs__cloudflare@1.17.0.patch
  frontend/pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(deployment): add deployment plan, tunnel guide, and bundle analysis
  docs/technical/deployment/README.md
  docs/technical/deployment/backend-local-tunnel.md
  docs/technical/deployment/bundle-analysis.md
  docs/technical/deployment/cloudflare-workers.md
  docs/technical/deployment/deployment-plan.md
  docs/technical/fixes/260321-cloudflare-worker-name-error.md
Due: prettier --write

docs(bmad): complete PRD and add architecture, epics, UX spec
  docs/bmad/planning-artifacts/architecture.md
  docs/bmad/planning-artifacts/epics.md
  docs/bmad/planning-artifacts/implementation-readiness-report-2026-03-15.md
  docs/bmad/planning-artifacts/prd.md
  docs/bmad/planning-artifacts/ux-design-specification.md
Due: prettier --write

feat(db): add initial schema migration
  frontend/apps/web/src/config/db/migrations/0000_rapid_the_watchers.sql
  frontend/apps/web/src/config/db/migrations/meta/0000_snapshot.json
  frontend/apps/web/src/config/db/migrations/meta/_journal.json
Due: prettier --write

feat(e2e): add signup flow test and PR comment handler command
  .claude/commands/pr-comment-handle.md
  frontend/packages/e2e/.env.test
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint --fix, prettier --write

refactor(python): enforce layered architecture (facade → app → service → repository)
  backend/python/src/wenexus/app/__init__.py
  backend/python/src/wenexus/app/discovery.py
  backend/python/src/wenexus/app/roundtable.py
  backend/python/src/wenexus/facade/deps.py
  backend/python/src/wenexus/facade/discovery.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/repository/discovery.py
  backend/python/src/wenexus/repository/roundtable.py
  backend/python/src/wenexus/service/discovery.py
  backend/python/src/wenexus/service/roundtable.py
  docs/bmad/planning-artifacts/architecture.md
Due: prettier --write

fix(ci): resolve test-python-backend lint errors and test-frontend E2E failures
  .github/workflows/ci-cd.yml
  backend/python/tests/integration/facade/test_auth_endpoints.py
  backend/python/tests/integration/repository/test_auth_schema.py
  frontend/apps/web/eslint.config.mjs
  frontend/apps/web/scripts/init-db-e2e.ts
Due: eslint --fix, prettier --write

fix(ci): resolve mypy errors and skip flaky signup E2E test in CI
  backend/python/src/wenexus/repository/roundtable.py
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint --fix, prettier --write

feat: Cloudflare Workers deployment, BMAD planning, and initial schema (#31)
  .claude/commands/pr-comment-handle.md
  .github/workflows/ci-cd.yml
  .gitignore
  backend/python/src/wenexus/app/__init__.py
  backend/python/src/wenexus/app/discovery.py
  backend/python/src/wenexus/app/roundtable.py
  backend/python/src/wenexus/facade/deps.py
  backend/python/src/wenexus/facade/discovery.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/repository/discovery.py
  backend/python/src/wenexus/repository/roundtable.py
  backend/python/src/wenexus/service/discovery.py
  backend/python/src/wenexus/service/roundtable.py
  backend/python/tests/integration/facade/test_auth_endpoints.py
  backend/python/tests/integration/repository/test_auth_schema.py
  docs/bmad/planning-artifacts/architecture.md
  docs/bmad/planning-artifacts/epics.md
  docs/bmad/planning-artifacts/implementation-readiness-report-2026-03-15.md
  docs/bmad/planning-artifacts/prd.md
  docs/bmad/planning-artifacts/ux-design-specification.md
  docs/technical/deployment/README.md
  docs/technical/deployment/backend-local-tunnel.md
  docs/technical/deployment/bundle-analysis.md
  docs/technical/deployment/cloudflare-workers.md
  docs/technical/deployment/deployment-plan.md
  docs/technical/fixes/260321-cloudflare-worker-name-error.md
  frontend/apps/web/eslint.config.mjs
  frontend/apps/web/scripts/init-db-e2e.ts
  frontend/apps/web/src/app/layout.tsx
  frontend/apps/web/src/config/db/migrations/0000_rapid_the_watchers.sql
  frontend/apps/web/src/config/db/migrations/meta/0000_snapshot.json
  frontend/apps/web/src/config/db/migrations/meta/_journal.json
  frontend/apps/web/src/config/index.ts
  frontend/packages/e2e/.env.test
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
  frontend/patches/@opennextjs__cloudflare@1.17.0.patch
  frontend/pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update progress.md with PR #31 completion summary
  progress.md
Due: prettier --write

fix: disable email verification for local testing and update E2E signup tests
  check_config.py
  docs/bmad/planning-artifacts/implementation-readiness-report-2026-03-22.md
  frontend/apps/web/scripts/check-email-config.ts
  frontend/check_db_config.mjs
  frontend/packages/e2e/.env.test
  frontend/packages/e2e/playwright.config.ts
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint --fix, prettier --write

docs: add E2E test code logic analysis and improvement recommendations
  CODE_LOGIC_ANALYSIS.md
  frontend/apps/web/create-test-user.mjs
Due: prettier --write

fix: improve E2E test reliability by replacing URL checks and hard delays
  CODE_LOGIC_ANALYSIS.md
  frontend/apps/web/create-test-user.mjs
  frontend/packages/e2e/fixtures/auth.ts
Due: eslint --fix, prettier --write

fix: remove temporary debug scripts with hardcoded credentials
  check_config.py
  frontend/apps/web/scripts/check-email-config.ts
  frontend/check_db_config.mjs
Due: eslint --fix, prettier --write

fix(e2e): fix rate limit retry exhaustion in parallel test runs
  frontend/packages/e2e/fixtures/auth.ts
  frontend/packages/e2e/package.json
  frontend/packages/e2e/playwright.config.ts
  frontend/packages/e2e/tsconfig.json
  frontend/pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  mvn spotless:apply: any of: *.{java}
  black: any of: *.{py}
  isort: any of: *.{py}
