Repository ournexus/wenexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml|html)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  node_modules/.*|
  dist/.*|
  build/.*|
  \.next/.*
)$


fix(e2e): extract magic numbers into named constants per review feedback
  frontend/packages/e2e/fixtures/auth.ts
  frontend/packages/e2e/playwright.config.ts
Due: eslint, prettier

fix(ci): exclude E2E tests from CI pipeline
  .github/workflows/ci-cd.yml
Due: prettier

fix(ci): add dedicated E2E job with auto-started Next.js dev server
  .github/workflows/ci-cd.yml
  frontend/packages/e2e/playwright.config.ts
Due: eslint, prettier

chore: add Cloudflare Workers production URL to wrangler.toml
  frontend/apps/web/wrangler.toml
Due: none

fix(e2e): fix rate limit retry exhaustion in parallel test runs (#38)
  .github/workflows/ci-cd.yml
  frontend/apps/web/wrangler.toml
  frontend/packages/e2e/fixtures/auth.ts
  frontend/packages/e2e/package.json
  frontend/packages/e2e/playwright.config.ts
  frontend/packages/e2e/tsconfig.json
  frontend/pnpm-lock.yaml
Due: eslint, prettier

fix(e2e): extract timeout constant and simplify test code per review feedback
  .gitignore
  frontend/packages/e2e/config.ts
  frontend/packages/e2e/tests/auth/auth-flow.spec.ts
  frontend/packages/e2e/tests/auth/auth-preset-user.spec.ts
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint, prettier

fix(e2e): increase test timeouts and use AuthPage.register() for remote DB compatibility
  frontend/packages/e2e/tests/auth/auth-flow.spec.ts
  frontend/packages/e2e/tests/auth/auth-preset-user.spec.ts
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint, prettier

chore: add Cloudflare Workers production URL to wrangler.toml
  frontend/packages/e2e/fixtures/auth.ts
Due: eslint, prettier

fix(e2e): increase test timeouts for remote DB compatibility (#39)
  .gitignore
  frontend/packages/e2e/config.ts
  frontend/packages/e2e/fixtures/auth.ts
  frontend/packages/e2e/tests/auth/auth-flow.spec.ts
  frontend/packages/e2e/tests/auth/auth-preset-user.spec.ts
  frontend/packages/e2e/tests/auth/signup-complete.spec.ts
Due: eslint, prettier

docs: add OpenRouter and Python Backend config to .env.example
  frontend/apps/web/.env.example
Due: none

feat(seed): expand domain seeding to include discussion sessions
  frontend/apps/web/scripts/seed-domain.ts
Due: eslint, prettier

feat(discovery): implement expert count calculation for topics
  backend/python/src/wenexus/app/discovery.py
  backend/python/src/wenexus/repository/discovery.py
Due: none

docs: update progress.md with latest completed features
  progress.md
Due: prettier

feat(cicd): add GitHub Actions CI/CD workflow and deployment documentation
  .github/workflows/ci-cd.yml
  CLAUDE.md
  backend/python/.env.example
  backend/python/src/wenexus/config/__init__.py
  backend/python/src/wenexus/main.py
  docs/technical/deployment/README.md
  docs/technical/deployment/cloudflare-workers.md
  docs/technical/deployment/deployment-plan.md
  docs/technical/deployment/github-cicd.md
  scripts/dev.sh
Due: prettier

docs: address PR review feedback on deployment docs
  docs/technical/deployment/deployment-plan.md
  docs/technical/deployment/github-cicd.md
Due: prettier

chore(deploy): standardize deployment config for Supabase + Cloudflare Tunnel
  docs/technical/deployment/backend-local-tunnel.md
  docs/technical/deployment/deployment-plan.md
  docs/technical/deployment/github-cicd.md
  frontend/apps/web/wrangler.toml
  scripts/dev.sh
Due: prettier

fix(backend): rename frontend_url → frontend_urls in llm.py HTTP-Referer
  backend/python/src/wenexus/util/llm.py
Due: none

fix(frontend): add cf:build script for CI/CD separate build step
  frontend/apps/web/package.json
Due: prettier

docs(deploy): mark all first-deploy checklist items as completed
  docs/technical/deployment/deployment-plan.md
Due: prettier

chore: reorganize deployment docs and switch dev frontend to cf:preview
  docs/technical/deployment/README.md
  docs/technical/deployment/dependency/external-dependencies.md
  docs/technical/deployment/dependency/fonts_use.sh
  scripts/dev.sh
Due: prettier

docs(deps): rewrite external-dependencies with status overview and production details
  docs/technical/deployment/dependency/external-dependencies.md
Due: prettier

fix(email-verification): move auth secret to dynamic config for Cloudflare Workers
  frontend/apps/web/src/core/auth/config.ts
  frontend/apps/web/src/shared/blocks/sign/verify-email.tsx
Due: eslint, prettier

feat(backend): improve Roundtable API with error handling and request models
  backend/python/src/wenexus/facade/deliverable.py
  backend/python/src/wenexus/facade/deps.py
  backend/python/src/wenexus/facade/roundtable.py
Due: none

feat(agent): add LangGraph AI Agent scaffold for Roundtable facilitation
  backend/python/langgraph.json
  backend/python/pyproject.toml
  backend/python/src/wenexus/agent/__init__.py
  backend/python/src/wenexus/agent/graph.py
  backend/python/src/wenexus/agent/tools.py
  backend/python/src/wenexus/config/__init__.py
Due: prettier

docs(auth): add WeChat login integration technical design
  docs/technical/develop/202603/260329-wechat-login-integration.md
Due: prettier

docs: update CLAUDE.md, deployment docs, and progress tracking
  CLAUDE.md
  backend/python/.env.example
  docs/technical/deployment/README.md
  docs/technical/deployment/cloudflare-workers.md
  docs/technical/deployment/deployment-plan.md
  progress.md
Due: prettier

chore: add .langgraph_api/ to gitignore
  .gitignore
Due: none

feat(agent): integrate LangGraph facilitator into Roundtable message flow
  backend/python/src/wenexus/agent/graph.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/service/roundtable.py
  progress.md
Due: prettier

feat(roundtable): add update session, end session, and delete message APIs
  backend/python/src/wenexus/app/roundtable.py
  backend/python/src/wenexus/facade/roundtable.py
  backend/python/src/wenexus/repository/roundtable.py
  progress.md
Due: prettier

fix(backend): move imports to top of deps.py to fix E402 lint error
  backend/python/src/wenexus/facade/deps.py
Due: none

fix(agent): add type: ignore for LangGraph/langchain mypy incompatibilities
  backend/python/src/wenexus/agent/graph.py
Due: none

fix(deploy): correct production NEXT_PUBLIC_APP_URL to match actual worker domain
  frontend/apps/web/wrangler.toml
Due: none

feat(planning): add Sprint Planning and Story 1.5 Fact Checker Deep Agent
  docs/bmad/implementation-artifacts/sprint-status.yaml
  docs/bmad/implementation-artifacts/stories/1-5-fact-checker-deep-agent.md
  progress.md
Due: prettier

fix(story): replace hardcoded path with relative path
  docs/bmad/implementation-artifacts/stories/1-5-fact-checker-deep-agent.md
Due: prettier

chore(config): update staging worker domain to yihuimbin subdomain
  frontend/apps/web/wrangler.toml
Due: none

feat: Sprint Planning and Story 1.5 Fact Checker Deep Agent (#41)
  docs/bmad/implementation-artifacts/sprint-status.yaml
  docs/bmad/implementation-artifacts/stories/1-5-fact-checker-deep-agent.md
  frontend/apps/web/wrangler.toml
  progress.md
Due: prettier

feat: implement Fact Checker Deep Agent
  backend/python/langgraph.json
  backend/python/src/wenexus/agent/fact_checker/__init__.py
  backend/python/src/wenexus/agent/fact_checker/entrypoint.py
  backend/python/src/wenexus/agent/fact_checker/harness/__init__.py
  backend/python/src/wenexus/agent/fact_checker/harness/harness.py
  backend/python/src/wenexus/agent/fact_checker/interfaces/__init__.py
  backend/python/src/wenexus/agent/fact_checker/interfaces/search.py
  backend/python/src/wenexus/agent/fact_checker/prompts/__init__.py
  backend/python/src/wenexus/agent/fact_checker/prompts/fact_checker.py
  backend/python/src/wenexus/agent/fact_checker/providers/__init__.py
  backend/python/src/wenexus/agent/fact_checker/providers/mock.py
  backend/python/src/wenexus/agent/fact_checker/runtime/__init__.py
  backend/python/src/wenexus/agent/fact_checker/runtime/graph.py
  backend/python/src/wenexus/agent/fact_checker/runtime/nodes.py
  backend/python/src/wenexus/agent/fact_checker/runtime/state.py
  backend/python/src/wenexus/agent/fact_checker/state.py
  backend/python/src/wenexus/facade/fact_checker.py
  backend/python/src/wenexus/main.py
  backend/python/src/wenexus/repository/fact_report.py
  backend/python/src/wenexus/repository/model/fact_report.py
  backend/python/tests/agent/fact_checker/test_e2e.py
  backend/python/tests/agent/fact_checker/test_integration.py
Due: prettier

fix: 修复 PR review 发现的问题
  backend/python/src/wenexus/agent/fact_checker/harness/harness.py
  backend/python/src/wenexus/agent/fact_checker/state.py
  backend/python/src/wenexus/facade/fact_checker.py
  backend/python/src/wenexus/repository/model/fact_report.py
  backend/python/tests/agent/fact_checker/test_e2e.py
Due: none

fix: 修复 mypy 类型检查错误
  backend/python/pyproject.toml
  backend/python/src/wenexus/agent/fact_checker/entrypoint.py
  backend/python/src/wenexus/agent/fact_checker/harness/harness.py
  backend/python/src/wenexus/agent/fact_checker/runtime/graph.py
  backend/python/src/wenexus/facade/fact_checker.py
  backend/python/src/wenexus/repository/fact_report.py
Due: none

docs: 新增 Story 1.6 话题库收集与质量管控 Pipeline
  docs/bmad/implementation-artifacts/stories/1-6-topic-library-pipeline.md
Due: prettier
