Repository ournexus/wenexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: system

prettier:
  name: Prettier
  entry: npx prettier --write
  language: system

docs: 新增 Story 1.6 话题库收集与质量管控 Pipeline
  docs/bmad/implementation-artifacts/stories/1-6-topic-library-pipeline.md
Due: prettier

refactor: convert fact checker graph to async execution
  backend/python/src/wenexus/service/agent/fact_checker/agent.py
  backend/python/src/wenexus/service/agent/fact_checker/graph.py
  backend/python/src/wenexus/service/agent/fact_checker/nodes.py
  backend/python/tests/unit/service/agent/fact_checker/test_fact_checker.py
Due: none

chore: upgrade Python backend from 3.11 to 3.14
  .github/workflows/ci-cd.yml
  README.md
  backend/README.md
  backend/python/README.md
  backend/python/langgraph.json
  backend/python/pyproject.toml
  backend/python/src/wenexus/main.py
  backend/python/src/wenexus/repository/db.py
  backend/python/tests/conftest.py
  docs/bmad/planning-artifacts/architecture.md
  docs/bmad/project-context.md
  docs/technical/deployment/dependency/external-dependencies.md
Due: prettier

fix: replace (str, Enum) with StrEnum to fix ruff UP042
  backend/python/src/wenexus/model/agent.py
  backend/python/src/wenexus/model/base.py
Due: none

ci: add ruff format --diff to diagnose platform formatting difference
  .github/workflows/ci-cd.yml
Due: prettier

fix: work around ruff format bug on Linux for except tuple
  .github/workflows/ci-cd.yml
  backend/python/src/wenexus/repository/roundtable.py
Due: prettier

feat: add agent lifecycle infrastructure (config, pool, initializer)
  backend/python/pyproject.toml
  backend/python/src/wenexus/app/agent_config.py
  backend/python/src/wenexus/app/agent_initializer.py
  backend/python/src/wenexus/app/agent_pool.py
  backend/python/src/wenexus/app/agent_registry.py
  backend/python/src/wenexus/config/__init__.py
  backend/python/src/wenexus/main.py
  backend/python/src/wenexus/repository/__init__.py
  backend/python/src/wenexus/repository/checkpointer.py
  backend/python/src/wenexus/util/logger.py
Due: none

feat: add LangGraph-compatible API and research/fact-checker agents
  backend/python/src/wenexus/facade/langgraph_api/__init__.py
  backend/python/src/wenexus/facade/langgraph_api/assistants.py
  backend/python/src/wenexus/facade/langgraph_api/main.py
  backend/python/src/wenexus/facade/langgraph_api/routers/__init__.py
  backend/python/src/wenexus/facade/langgraph_api/routers/assistants.py
  backend/python/src/wenexus/facade/langgraph_api/routers/runs.py
  backend/python/src/wenexus/facade/langgraph_api/routers/threads.py
  backend/python/src/wenexus/facade/langgraph_api/runs.py
  backend/python/src/wenexus/facade/langgraph_api/threads.py
  backend/python/src/wenexus/model/assistant.py
  backend/python/src/wenexus/model/run.py
  backend/python/src/wenexus/model/thread.py
  backend/python/src/wenexus/service/agent/fact_checker/deep_agent.py
  backend/python/src/wenexus/service/langgraph_api/__init__.py
  backend/python/src/wenexus/service/langgraph_api/run_service.py
  backend/python/src/wenexus/service/research_agent/__init__.py
  backend/python/src/wenexus/service/research_agent/research_agent.py
  backend/python/src/wenexus/service/research_agent/research_agent_prompt.py
  backend/python/src/wenexus/service/research_agent/research_agent_tools.py
Due: none

feat: add agent chat UI with LangGraph SDK integration
  frontend/apps/web/package.json
  frontend/apps/web/src/app/[locale]/(landing)/agent/page.tsx
  frontend/apps/web/src/components/agent/components/AgentChatInput.tsx
  frontend/apps/web/src/components/agent/components/AgentChatInterface.tsx
  frontend/apps/web/src/components/agent/components/AgentChatMessages.tsx
  frontend/apps/web/src/components/agent/components/AgentThreadList.tsx
  frontend/apps/web/src/components/agent/components/ChatInterface.tsx
  frontend/apps/web/src/components/agent/components/ChatMessage.tsx
  frontend/apps/web/src/components/agent/components/ConfigDialog.tsx
  frontend/apps/web/src/components/agent/components/FileViewDialog.tsx
  frontend/apps/web/src/components/agent/components/MarkdownContent.tsx
  frontend/apps/web/src/components/agent/components/SubAgentIndicator.tsx
  frontend/apps/web/src/components/agent/components/TasksFilesSidebar.tsx
  frontend/apps/web/src/components/agent/components/ThreadList.tsx
  frontend/apps/web/src/components/agent/components/ToolApprovalInterrupt.tsx
  frontend/apps/web/src/components/agent/components/ToolCallBox.tsx
  frontend/apps/web/src/components/agent/hooks/useAgentChat.ts
  frontend/apps/web/src/components/agent/hooks/useChat.ts
  frontend/apps/web/src/components/agent/hooks/useThreads.ts
  frontend/apps/web/src/components/agent/providers/AgentChatProvider.tsx
  frontend/apps/web/src/components/agent/providers/AgentClientProvider.tsx
  frontend/apps/web/src/components/agent/providers/ChatProvider.tsx
  frontend/apps/web/src/components/agent/providers/ClientProvider.tsx
  frontend/apps/web/src/components/agent/types/types.ts
  frontend/apps/web/src/core/auth/config.ts
  frontend/pnpm-lock.yaml
Due: eslint, prettier

feat: update fact checker agent components and service layer
  .claude/scheduled_tasks.lock
  backend/python/src/wenexus/model/run.py
  backend/python/src/wenexus/service/langgraph_api/run_service.py
  frontend/apps/web/src/components/agent/hooks/useAgentChat.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|scss|md|yml|yaml|html)$, but not: (?x)^(
  .*\.min\.(js|css)$|
  .*\.bundle\.(js|css)$|
  node_modules/.*|
  dist/.*|
  build/.*|
  \.next/.*
)$

